/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define BLE 1
#define WIN 2
/ {
    macros {
        mpv_tog_play: mpv_tog_play {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LWIN>
                , <&macro_tap &kp SPACE>
                , <&macro_release &kp LWIN>
                ;
        };
    };
};
/ {
        keymap {
            compatible = "zmk,keymap";

            base_layer {
              display-name = "BASE";
              bindings = <
                // ╭─────────────┬──────────────┬──────────────────┬─────────────┬─────────────╮
                     &mo BLE      &kp C_PREVIOUS   &kp KP_ENTER      &kp BSPC      &tog WIN
                // ╰─────────────┴──────────────┴──────────────────┴─────────────┴─────────────╯
              >;
              sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
            };

            ble_layer {
              display-name = "BLE";
              bindings = <
                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                     &trans     &out OUT_TOG   &bt BT_PRV    &bt BT_NXT    &bt BT_CLR
                // ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯
              >;
              sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            };

            win_layer {
              display-name = "WIN";
              bindings = <
                // ╭───────────────────┬──────────────┬──────────────────┬─────────────┬─────────────╮
                     &ext_power EP_OFF  &kp C_PREVIOUS   &mpv_tog_play      &kp BSPC      &tog WIN
                // ╰───────────────────┴──────────────┴──────────────────┴─────────────┴─────────────╯
              >;
              sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
            };

        };
};
